.reveal pre code {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;
  border-radius: 5px;
  border: solid rgb(51, 48, 48) 2px;

  -moz-box-shadow: 6px 6px 7px 3px rgb(46, 44, 44);
  -webkit-box-shadow: 6px 6px 7px 3px rgb(46, 44, 44);
  box-shadow: 6px 6px 7px 3px rgb(46, 44, 44);
}

.reveal .slim pre {
  width: 500px;
}

.reveal .medium pre {
  width: 700px;
}

.reveal .wide pre {
  width: 1000px;
}
